<div id="main-container">

  <h3 class="ui top attached header inverted">
    Configured connections <div *ngIf="connectionsFetched" class="ui teal circular label">{{connectionsAmount}}</div>
  </h3>

  <!-- [ngClass]="{'loading': !connectionsFetched}" -->
  <div id="content-segment" class="ui attached segment" >

    <p *ngIf="!connectionsFetched">LOADING...</p>

    <div id="connections-container">
        <div class="ui label" *ngIf="connectionsFetched && connectionsAmount == 0">
             <h5 class="ui header"><i class="info icon"></i> You don't have any connections defined</h5>
          </div>
      <app-single-connection *ngFor="let connection of connectionsPromise | async" [connection]="connection"></app-single-connection>
    </div>


    <!-- *ngIf="connectionsFetched && !newConnectionFormVisible" -->
    <button  (click)="showNewConnectionFormClicked();" id="plus-button" class="ui basic button teal">
      <i class="icon plus"></i>
      Add New
    </button>

  </div>

  <app-new-connection-form [devicesAndProperties]="devicesAndProperties | async" *ngIf="newConnectionFormVisible"></app-new-connection-form>

</div>