<!-- <div id="main-container">
    <div id="left-part" class="centered-in-column">
        <h1 class="ui header">Your devices</h1>
        <app-devices-table [devices]="devicesPromise | async"></app-devices-table>
    </div>

    <div id="right-part" class="centered-in-column">

    </div>
</div> -->

<div id="main-container">
    <div id="left-part" >
        <h3 class="ui top attached header inverted">
            Your devices <div *ngIf="devicesFetched" class="ui teal circular label">{{devicesAmount}}</div>
        </h3>
        <div class="ui attached segment" [ngClass]="{'loading': !devicesFetched}">
            <app-devices-table [devices]="devicesPromise | async"></app-devices-table>
        </div>
    </div>
    <div id="right-part" class="centered-in-column">

    </div>
</div>