/* :host {
    flex: 1;
    position: relative;
} */

#main-container {
    height: 100%;
    width: 100%;
    display: flex;

}

#left-part {
    flex: 5;
}

#right-part {
    flex: 3;
}

.centered-in-column {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 5px;
}