/* :host {
    flex: 1;
    position: relative;
} */

#main-container {
    height: 100%;
    width: 100%;
    /* display: flex; */

    padding: 20px;
}


#description {
    padding: 30px;
    font-size: 55px;
    line-height: 60px;
}

.centered-in-column {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 5px;
}