#main-container {
    height: 100%;
    width: 100%;
    /* display: flex; */

    padding: 20px;
}

.line-breaker {
    white-space: pre-line;
}

.item {
    margin-bottom: 5px;
    font-size: 12pt;
}