<div id="main-container">
    <div class="shadow-box">
        <div class="ui segment" [ngClass]="{'loading': !devicesFetched}">
            <!-- <div class="ui stackable two column grid"> -->
                <form [formGroup]="form" novalidate class="ui form stackable two column grid">
                    <div class="eight wide column">
                        <h4 class="ui dividing header">Device</h4>
                        <div class="field">
                            <select class="ui fluid dropdown" formControlName="device">
                                <option *ngFor="let device of devices" [ngValue]="device">{{device.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <h4 class="ui dividing header">Property</h4>
                        <div class="field" [ngClass]="{'disabled': deviceSelect.value == ''}">
                            <select class="ui fluid dropdown" formControlName="property">
                                <option *ngFor="let property of properties" [ngValue]="property">{{property.Name}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            <!-- </div> -->
        </div>
    </div>

    <div class="ui stackable two column grid">
        <div class="ten wide column">
            <div class="shadow-box">
                <h3 class="ui top attached header inverted">History Graph</h3>
                <div class="ui attached segment" [ngClass]="{'loading': !devicesFetched}">
                        Choose a property that is HISTORIZED to see its values in the specified time frame.
                </div>
            </div>
        </div>
        
        <div class="six wide column">
            <div class="shadow-box">
                <h3 class="ui top attached header inverted">Last Value</h3>
                <div class="ui attached segment" [ngClass]="{'loading': !devicesFetched}">
                    <div *ngIf="lastValue == null">Choose one of your devices and its property to see the last value of it.</div>
                    <div *ngIf="lastValue != null">{{lastValue}}</div>
                </div>
            </div>
        </div>
    </div>  
</div>

    <!-- <div class="ten wide column" id="left-part">
        <div class="shadow-box">
            <h3 class="ui top attached header inverted">
                Your devices <div *ngIf="devicesFetched" class="ui teal circular label">{{devicesAmount}}</div>
            </h3>
            <div class="ui attached segment" [ngClass]="{'loading': !devicesFetched}">
                <app-devices-table [devices]="devicesPromise | async"></app-devices-table>
            </div>
        </div>
    </div>
    <div class="six wide column" id="description" *ngIf="devicesFetched">
        You have <b>{{devicesAmount}}</b> devices and <b>{{this.onlineDevicesAmount}}</b> of them are online.
    </div>
  </div> -->
