<table class="ui table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
      <th>Online</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of devices">
      <td>{{ device.Id }}</td>
      <td>{{ device.Name }}</td>
      <td>{{ device.DeviceType }}</td>
      <td>
        <i *ngIf="device.IsConnected === null" 
          class="notched circle loading icon" 
          suiPopup popupInverted popupText="Device state is being checked right now..." [popupPlacement]="right">
        </i>
        <i *ngIf="device.IsConnected == true" 
          class="green check icon" 
          suiPopup popupInverted popupText="Device is online" 
          [popupPlacement]="right">
        </i>
        <i *ngIf="device.IsConnected == false" 
          class="red times icon" 
          suiPopup popupInverted popupText="Device is offline" [popupPlacement]="right">
        </i>
      </td>
    </tr>
  </tbody>
</table>
 
