<div id="main-container">
  <h3 class="ui top attached header inverted">
      New connection form 
      <span id="close-button" (click)="closeButtonClicked.emit(true)">
        <i class="times circle icon" [ngClass]="color" (mouseover)="color='red'" (mouseout)="color=''"></i>
      </span>
  </h3>
  <div class="ui attached segment">
    <form [formGroup]="form" (ngSubmit)="onSaveClicked()" novalidate class="ui form">
      <h4 class="ui dividing header">Sender</h4>
      <div class="two fields" formGroupName="sender">
        <div class="field">
          <label>Device</label>
          <select class="ui fluid dropdown" formControlName="device">
            <option *ngFor="let device of getSenderDevices()" [ngValue]="device">{{device.Name}}</option>
          </select>
        </div>
        <div class="field" [ngClass]="{'disabled': senderDevice.value == ''}">
            <label>Property</label>
            <select class="ui fluid dropdown" formControlName="property">
              <option *ngFor="let property of getSenderProperties(senderDevice.value)" [ngValue]="property">{{property.Name}}</option>
            </select>
        </div>
      </div>
  
      <h4 class="ui dividing header">Listener</h4>
      <div class="two fields" formGroupName="listener">
        <div class="field">
          <label>Device</label>
          <select class="ui fluid dropdown" formControlName="device">
            <option *ngFor="let device of getListenerDevices()" [ngValue]="device">{{device.Name}}</option>
          </select>
        </div>
        <div class="field" [ngClass]="{'disabled': listenerDevice.value == ''}">
            <label>Property</label>
            <select class="ui fluid dropdown" formControlName="property">
              <option *ngFor="let property of getListenerProperties(listenerDevice.value)" [ngValue]="property">{{property.Name}}</option>
            </select>
        </div>
      </div>
  
      <h4 class="ui dividing header">Filter</h4>
      <div class="two fields" formGroupName="filter">
        <div class="field" [ngClass]="{'disabled': !devicesAndPropertiesAreSelected()}">
          <label>Type</label>
          <select class="ui fluid dropdown" formControlName="type">
            <option *ngFor="let filterType of filterTypes" [ngValue]="filterType">{{filterType.displayName}}</option>
          </select>
        </div>
        <div class="field" [ngClass]="{'disabled': !devicesAndPropertiesAreSelected()}">
          <label>Value</label>
          <div class="ui input" [ngClass]="{'disabled': filterType.value.enumValue == 0}">
            <input type="text" formControlName="value">
          </div>
        </div>
      </div>
  
      <h4 class="ui dividing header">Calculation</h4>
      <div class="two fields" formGroupName="calculation">
        <div class="field" [ngClass]="{'disabled': !devicesAndPropertiesAreSelected()}">
          <label>Type</label>
          <select class="ui fluid dropdown" formControlName="type">
            <option *ngFor="let calculationType of calculationTypes" [ngValue]="calculationType">{{calculationType.displayName}}</option>
          </select>
        </div>
        <div class="field" [ngClass]="{'disabled': !devicesAndPropertiesAreSelected()}">
          <label>Value</label>
          <div class="ui input" [ngClass]="{'disabled': calculationType.value.enumValue == 0}">
            <input type="text" formControlName="value">
          </div>
        </div>
      </div>
  
      <button type="submit" class="ui teal animated button">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save icon"></i>
        </div>
      </button>
    </form>
  </div>
    <!-- <pre>{{form.value | json}}</pre> -->
</div>