<div id="main-container">

  <div class="ui segment" style="border-radius: 0;">
    <div class="ui secondary stackable menu" >
      <div class="header item">MJIoT</div>
      <a *ngIf="userService.isLoggedId()" (click)="devicesClicked()" class="item violet" [ngClass]="{'active': router.url == '/devices'}">
        <i class="microchip icon"></i>Devices
      </a>
      <a *ngIf="userService.isLoggedId()" (click)="connectionsClicked()" class="item blue" [ngClass]="{'active': router.url == '/connections'}">
        <i class="sitemap icon"></i>Connections
      </a>
      <a *ngIf="userService.isLoggedId()" (click)="liveDataClicked()" class="item purple" [ngClass]="{'active': router.url == '/live-data'}">
        <i class="chart area icon"></i>Properties
      </a>
      <div class="right menu">
        <a class="item" suiPopup [popupTemplate]="helpPopup" popupTrigger="outsideClick" [popupPlacement]="right">Help</a>
        <a *ngIf="userService.isLoggedId()" (click)="logoutClicked()" class="item">Log Out</a>
      </div>
    </div>
  </div>

</div>

<ng-template let-popup #helpPopup>
    <div class="header">MJIoT Help</div>
    <div class="content">
        MJIoT is the IoT solution developed as a master thesis project at Technical University in Łódź, Poland.
    </div>
</ng-template>
